[submodule "vagrant/modules/apache"]
	path = vagrant/modules/apache
	url = https://github.com/puppetlabs/puppetlabs-apache
[submodule "vagrant/modules/cinder"]
	path = vagrant/modules/cinder
	url = https://github.com/stackforge/puppet-cinder.git
	branch = stable/kilo
[submodule "vagrant/modules/concat"]
	path = vagrant/modules/concat
	url = https://github.com/puppetlabs/puppetlabs-concat.git
[submodule "vagrant/modules/gitlab"]
	path = vagrant/modules/gitlab
	url = https://github.com/vshn/puppet-gitlab
[submodule "vagrant/modules/glance"]
	path = vagrant/modules/glance
	url = https://github.com/stackforge/puppet-glance.git
	branch = stable/kilo
[submodule "vagrant/modules/horizon"]
	path = vagrant/modules/horizon
	url = https://github.com/stackforge/puppet-horizon.git
	branch = stable/kilo
[submodule "vagrant/modules/openstacklib"]
        path = vagrant/modules/openstacklib
        url = https://github.com/openstack/puppet-openstacklib.git
        branch = stable/kilo
[submodule "vagrant/modules/inifile"]
	path = vagrant/modules/inifile
	url = https://github.com/puppetlabs/puppetlabs-inifile.git
[submodule "vagrant/modules/keystone"]
	path = vagrant/modules/keystone
	url = https://github.com/stackforge/puppet-keystone.git
	branch = stable/kilo
[submodule "vagrant/modules/logrotate"]
	path = vagrant/modules/logrotate
	url = https://github.com/rodjek/puppet-logrotate.git
[submodule "vagrant/modules/memcached"]
	path = vagrant/modules/memcached
	url = https://github.com/saz/puppet-memcached
[submodule "vagrant/modules/mysql"]
	path = vagrant/modules/mysql
	url = https://github.com/puppetlabs/puppetlabs-mysql.git
[submodule "vagrant/modules/nginx"]
	path = vagrant/modules/nginx
	url = https://github.com/jfryman/puppet-nginx.git
[submodule "vagrant/modules/nodejs"]
	path = vagrant/modules/nodejs
	url = https://github.com/puppetlabs/puppetlabs-nodejs.git
[submodule "vagrant/modules/ntp"]
	path = vagrant/modules/ntp
	url = https://github.com/puppetlabs/puppetlabs-ntp.git
[submodule "vagrant/modules/openvpn"]
	path = vagrant/modules/openvpn
	url = https://github.com/luxflux/puppet-openvpn.git
[submodule "vagrant/modules/php"]
	path = vagrant/modules/php
	url = https://github.com/thias/puppet-php.git
[submodule "vagrant/modules/postfix"]
	path = vagrant/modules/postfix
	url = https://github.com/thias/puppet-postfix.git
[submodule "vagrant/modules/qpid"]
	path = vagrant/modules/qpid
	url = https://github.com/dprince/puppet-qpid.git
[submodule "vagrant/modules/rabbitmq"]
	path = vagrant/modules/rabbitmq
	url = https://github.com/puppetlabs/puppetlabs-rabbitmq.git
[submodule "vagrant/modules/ruby"]
	path = vagrant/modules/ruby
	url = https://github.com/puppetlabs/puppetlabs-ruby.git
[submodule "vagrant/modules/rvm"]
	path = vagrant/modules/rvm
	url = https://github.com/maestrodev/puppet-rvm.git
[submodule "vagrant/modules/staging"]
	path = vagrant/modules/staging
	url = https://github.com/nanliu/puppet-staging.git
[submodule "vagrant/modules/stdlib"]
	path = vagrant/modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "vagrant/modules/sysctl"]
	path = vagrant/modules/sysctl
	url = https://github.com/duritong/puppet-sysctl.git
[submodule "vagrant/modules/timezone"]
	path = vagrant/modules/timezone
	url = https://github.com/saz/puppet-timezone.git
[submodule "vagrant/modules/vcsrepo"]
	path = vagrant/modules/vcsrepo
	url = https://github.com/puppetlabs/puppetlabs-vcsrepo.git
[submodule "vagrant/modules/vswitch"]
	path = vagrant/modules/vswitch
        url = https://github.com/openstack/puppet-vswitch.git
	branch = stable/kilo
[submodule "vagrant/modules/wget"]
	path = vagrant/modules/wget
	url = https://github.com/maestrodev/puppet-wget.git
[submodule "vagrant/modules/apt"]
	path = vagrant/modules/apt
	url = https://github.com/puppetlabs/puppetlabs-apt.git
[submodule "vagrant/modules/nova"]
	path = vagrant/modules/nova
	url = https://github.com/stackforge/puppet-nova.git
	branch = stable/kilo
[submodule "vagrant/modules/java"]
	path = vagrant/modules/java
	url = https://github.com/puppetlabs/puppetlabs-java.git
[submodule "vagrant/modules/zypprepo"]
	path = vagrant/modules/zypprepo
	url = https://github.com/deadpoint/puppet-zypprepo.git
[submodule "vagrant/modules/gnupg"]
	path = vagrant/modules/gnupg
	url = https://github.com/n1tr0g/golja-gnupg.git
[submodule "client"]
	path = client
	url = git@github.com:ricofehr/nextdeploy-cli
[submodule "puppet"]
	path = puppet
	url = git@github.com:ricofehr/nextdeploy-puppet
[submodule "vagrant/modules/vsftpd"]
	path = vagrant/modules/vsftpd
	url = https://github.com/thias/puppet-vsftpd/
[submodule "vagrant/modules/collectd"]
	path = vagrant/modules/collectd
	url = https://github.com/puppet-community/puppet-collectd
[submodule "vagrant/modules/influxdb"]
	path = vagrant/modules/influxdb
	url = https://github.com/n1tr0g/golja-influxdb
[submodule "vagrant/modules/grafana"]
	path = vagrant/modules/grafana
	url = https://github.com/bfraser/puppet-grafana
[submodule "webui"]
	path = webui
	url = git@github.com:ricofehr/nextdeploy-webui
[submodule "vagrant/modules/neutron"]
	path = vagrant/modules/neutron
	url = https://github.com/ricofehr/puppet-neutron
	branch = nextdeploy
