apt::always_apt_update: true
global::pubprefix: %%PUBPREFIX%%
global::managementprefix: %%MANAGEMENTPREFIX%%
global::apiprefix: %%APIPREFIX%%
global::dataprefix: %%DATAPREFIX%%
global::mvmcuri: %%NEXTDEPLOYURI%%
global::gitlaburi: %%GITLABURI%%
global::gitlabns: %%GITLABNS%%
global::mvmcsuf: %%NEXTDEPLOYSUF%%
global::nova_hv: %%NOVAHV%%
global::neutron_extdev: %%EXTDEV%%
global::neutron_pubdev: %%PUBDEV%%
global::ossecip: %%PUBPREFIX%%.50
global::influxip: %%PUBPREFIX%%.50
