Vagrant.configure("2") do |config|
    config.ssh.username = "modem"
    config.ssh.password = "modem"
    config.vm.box_download_insecure = true
    config.vm.synced_folder ".", "/vagrant", type: "rsync"

    config.vm.define :nextdeploy, primary: true do |nextdeploy|
      nextdeploy.vm.hostname = "nextdeploy"
      nextdeploy.vm.box = "mc"
      nextdeploy.vm.synced_folder "../../", "/home/nextdeploy", type: '%%FILESHARETYPE%%'%%RSYNCARGS%%
      nextdeploy.vm.synced_folder "../../ror", "/ror", type: '%%FILESHARETYPE%%'%%RSYNCARGS%%
      nextdeploy.vm.synced_folder "../../out", "/out", type: '%%FILESHARETYPE%%'%%RSYNCARGS%%
      nextdeploy.vm.synced_folder "../../puppet", "/puppet", type: '%%FILESHARETYPE%%'%%RSYNCARGS%%
      nextdeploy.vm.box_url = "http://imgs.nextdeploy.io/kvm/mc.box"
      nextdeploy.vm.provider :libvirt do |virthost|
        virthost.memory = 3072
        virthost.cpus = 2
        virthost.cpu_mode = "host-model"
        virthost.nested = false
        virthost.cpu_mode = "host-passthrough"
        virthost.volume_cache = "writeback"
      end

      nextdeploy.vm.network :private_network, :ip => "%%APIPREFIX%%.60", :libvirt__network_name => "vagrant-osa%%OSAPISUF%%"
      nextdeploy.vm.network :private_network, :ip => "%%PUBPREFIX%%.60", :libvirt__network_name => "vagrant-osp%%OSPUBSUF%%"
      nextdeploy.vm.network :private_network, :ip => "%%MANAGEMENTPREFIX%%.60", :libvirt__network_name => "vagrant-osm%%OSMANAGEMENTSUF%%"
      nextdeploy.vm.network :private_network, :ip => "%%DATAPREFIX%%.60", :libvirt__network_name => "vagrant-osd%%OSDATASUF%%"
    end

  config.vm.provision :puppet do |puppet|
    puppet.manifest_file = "init.pp"
    puppet.module_path = "modules"
    puppet.options = "--ordering=manifest --hiera_config /vagrant/hiera/hiera.yaml"
  end
end
