apt::always_apt_update: true
global::pubprefix: %%PUBPREFIX%%
global::managementprefix: %%MANAGEMENTPREFIX%%
global::apiprefix: %%APIPREFIX%%
global::dataprefix: %%DATAPREFIX%%
global::nextdeployuri: %%NEXTDEPLOYURI%%
global::httpwildcard: %%NEXTDEPLOYURI%%
global::gitlaburi: %%GITLABURI%%
global::gitlabns: %%GITLABNS%%
global::nextdeploysuf: %%NEXTDEPLOYSUF%%
global::railsenv: %%RAILSENV%%
global::ossecip: %%PUBPREFIX%%.50
global::influxip: %%PUBPREFIX%%.50
