<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New user into NextDeploy: <%= @user.firstname %> <%= @user.lastname %> (<%= @user.company %>)</h1>
  </body>
</html>