{"project":{"id":null,"name":"","gitpath":"","enabled":true,"login":"modem","password":"modem","created_at":null,"owner":null,"brand":1,"framework":1,"systemimages":[1,2],"technos":[1,6,7,10],"vmsizes":[2],"users":[1],"vms":[],"branches":[]}}
