apt::always_apt_update: true
global::pubprefix: %%PUBPREFIX%%
global::grafanauri: grafana.%%MVMCURI%%
global::ossecuri: ossec.%%MVMCURI%%
global::ossecip: %%PUBPREFIX%%.50
global::influxip: %%PUBPREFIX%%.50
global::mailadmin: %%MAILADMIN%%
global::adminpassword: %%ADMINPASSWORD%%
