Vagrant.configure("2") do |config|
    config.ssh.username = "modem"
    config.ssh.password = "modem"
    config.vm.box_download_insecure = true
    config.vm.synced_folder ".", "/vagrant", type: "rsync"

    config.vm.define :uosc, primary: true do |uosc|
      uosc.vm.hostname = "uosc"
      uosc.vm.box = "uos-c"
      uosc.vm.box_url = "http://imgs.nextdeploy.io/kvm/uos-c.box"
      uosc.vm.provider :libvirt do |virthost|
        virthost.memory = 3072
        virthost.cpus = 2
      end

      uosc.vm.network :private_network, :ip => "%%APIPREFIX%%.70", :libvirt__network_name => "vagrant-osa%%OSAPISUF%%"
      uosc.vm.network :private_network, :ip => "%%PUBPREFIX%%.70", :libvirt__network_name => "vagrant-osp%%OSPUBSUF%%"
      uosc.vm.network :private_network, :ip => "%%MANAGEMENTPREFIX%%.70", :libvirt__network_name => "vagrant-osm%%OSMANAGEMENTSUF%%"
      uosc.vm.network :private_network, :ip => "%%DATAPREFIX%%.70", :libvirt__network_name => "vagrant-osd%%OSDATASUF%%"
    end

   config.vm.define :uosnv, autostart: false do |uosnv|
      uosnv.vm.hostname = "uosnv"
      uosnv.vm.box = "uos-s"
      uosnv.vm.box_url = "http://imgs.nextdeploy.io/kvm/uos-s.box"
      uosnv.vm.provider :libvirt do |virthost|
        virthost.memory = 4096
        virthost.cpus = 4
        virthost.nested = %%NESTED%%
	      virthost.volume_cache = "writeback"
      end

      uosnv.vm.network :private_network, :ip => "%%APIPREFIX%%.75", :libvirt__network_name => "vagrant-osa%%OSAPISUF%%"
      uosnv.vm.network :private_network, :ip => "%%PUBPREFIX%%.75", :libvirt__network_name => "vagrant-osp%%OSPUBSUF%%"
      uosnv.vm.network :private_network, :ip => "%%MANAGEMENTPREFIX%%.75", :libvirt__network_name => "vagrant-osm%%OSMANAGEMENTSUF%%"
      uosnv.vm.network :private_network, :ip => "%%DATAPREFIX%%.75", :libvirt__network_name => "vagrant-osd%%OSDATASUF%%"
    end

   config.vm.define :uosnt, autostart: false do |uosnt|
      uosnt.vm.hostname = "uosnt"
      uosnt.vm.box = "uos-c"
      uosnt.vm.box_url = "http://imgs.nextdeploy.io/kvm/uos-c.box"
      uosnt.vm.provider :libvirt do |virthost|
        virthost.memory = 2048
        virthost.cpus = 1
      end

      uosnt.vm.network :private_network, :ip => "%%APIPREFIX%%.71", :libvirt__network_name => "vagrant-osa%%OSAPISUF%%"
      uosnt.vm.network :private_network, :ip => "%%PUBPREFIX%%.71", :libvirt__network_name => "vagrant-osp%%OSPUBSUF%%"
      uosnt.vm.network :private_network, :ip => "%%MANAGEMENTPREFIX%%.71", :libvirt__network_name => "vagrant-osm%%OSMANAGEMENTSUF%%"
      uosnt.vm.network :private_network, :ip => "%%DATAPREFIX%%.71", :libvirt__network_name => "vagrant-osd%%OSDATASUF%%"
    end

   config.vm.define :uosst, autostart: false do |uosst|
      uosst.vm.hostname = "uosst"
      uosst.vm.box = "uos-s"
      uosst.vm.box_url = "http://imgs.nextdeploy.io/kvm/uos-s.box"
      uosst.vm.provider :libvirt do |virthost|
        virthost.memory = 768
        virthost.cpus = 2
      end

      uosst.vm.network :private_network, :ip => "%%APIPREFIX%%.72", :libvirt__network_name => "vagrant-osa%%OSAPISUF%%"
      uosst.vm.network :private_network, :ip => "%%PUBPREFIX%%.72", :libvirt__network_name => "vagrant-osp%%OSPUBSUF%%"
      uosst.vm.network :private_network, :ip => "%%MANAGEMENTPREFIX%%.72", :libvirt__network_name => "vagrant-osm%%OSMANAGEMENTSUF%%"
      uosst.vm.network :private_network, :ip => "%%DATAPREFIX%%.72", :libvirt__network_name => "vagrant-osd%%OSDATASUF%%"
    end

  config.vm.provision :puppet do |puppet|
    puppet.synced_folder_type = "rsync"
    puppet.manifest_file = "init.pp"
    puppet.module_path = "modules"
    puppet.options = "--ordering=manifest --hiera_config /vagrant/hiera/hiera.yaml"
  end
end
