Vagrant.configure("2") do |config|
    config.ssh.username = "modem"
    config.ssh.password = "modem"
    config.vm.box_download_insecure = true

    config.vm.define :uosc, primary: true do |uosc|
      uosc.vm.hostname = "uosc"
      uosc.vm.box = "uos-c"
      uosc.vm.box_url = "http://imgs.mvmc.services-pm.fr:8383/kvm/uos-c.box"
      uosc.vm.provider :libvirt do |virthost|
        uosc.vm.network :private_network, :ip => "192.168.170.70", :libvirt__network_name => "vagrant-os"
        uosc.vm.network :private_network, :ip => "%%PUBPREFIX%%.70", :libvirt__network_name => "vagrant-ospub%%OSPUBSUF%%"
        uosc.vm.network :private_network, :ip => "172.16.170.70", :libvirt__network_name => "vagrant-os3"
        uosc.vm.network :private_network, :ip => "172.16.171.70", :libvirt__network_name => "vagrant-os4"
        virthost.memory = 1536
        virthost.cpus = 2
        virthost.cpu_mode = "host-model"
        virthost.nested = false
	virthost.volume_cache = "writeback"
      end
    end

   config.vm.define :uosnv, autostart: false do |uosnv|
      uosnv.vm.hostname = "uosnv"
      uosnv.vm.box = "uos-s"
      uosnv.vm.box_url = "http://imgs.mvmc.services-pm.fr:8383/kvm/uos-s.box"
      uosnv.vm.provider :libvirt do |virthost|
        uosnv.vm.network :private_network, :ip => "192.168.170.75", :libvirt__network_name => "vagrant-os"
        uosnv.vm.network :private_network, :ip => "%%PUBPREFIX%%.75", :libvirt__network_name => "vagrant-ospub%%OSPUBSUF%%"
        uosnv.vm.network :private_network, :ip => "172.16.170.75", :libvirt__network_name => "vagrant-os3"
        uosnv.vm.network :private_network, :ip => "172.16.171.75", :libvirt__network_name => "vagrant-os4"
        virthost.memory = 4096
        virthost.cpus = 4
        virthost.cpu_mode = "host-model"
        virthost.nested = true
	virthost.volume_cache = "writeback"
      end
    end

   config.vm.define :uosnt, autostart: false do |uosnt|
      uosnt.vm.hostname = "uosnt"
      uosnt.vm.box = "uos-c"
      uosnt.vm.box_url = "http://imgs.mvmc.services-pm.fr:8383/kvm/uos-c.box"
      uosnt.vm.provider :libvirt do |virthost|
        uosnt.vm.network :private_network, :ip => "192.168.170.71", :libvirt__network_name => "vagrant-os"
        uosnt.vm.network :private_network, :ip => "%%PUBPREFIX%%.71", :libvirt__network_name => "vagrant-ospub%%OSPUBSUF%%"
        uosnt.vm.network :private_network, :ip => "172.16.170.71", :libvirt__network_name => "vagrant-os3"
        uosnt.vm.network :private_network, :ip => "172.16.171.71", :libvirt__network_name => "vagrant-os4"
        virthost.memory = 512
        virthost.cpu_mode = "host-model"
        virthost.cpus = 1
        virthost.nested = false
      end
    end

   config.vm.define :uosst, autostart: false do |uosst|
      uosst.vm.hostname = "uosst"
      uosst.vm.box = "uos-s"
      uosst.vm.box_url = "http://imgs.mvmc.services-pm.fr:8383/kvm/uos-s.box"
      uosst.vm.provider :libvirt do |virthost|
        uosst.vm.network :private_network, :ip => "192.168.170.72", :libvirt__network_name => "vagrant-os"
        uosst.vm.network :private_network, :ip => "%%PUBPREFIX%%.72", :libvirt__network_name => "vagrant-ospub%%OSPUBSUF%%"
        uosst.vm.network :private_network, :ip => "172.16.170.72", :libvirt__network_name => "vagrant-os3"
        uosst.vm.network :private_network, :ip => "172.16.171.72", :libvirt__network_name => "vagrant-os4"
        virthost.memory = 512
        virthost.cpus = 2
        virthost.cpu_mode = "host-model"
        virthost.nested = false
      end
    end

  config.vm.provision :puppet do |puppet|
    puppet.manifest_file = "init.pp"
    puppet.module_path = "modules"
    puppet.options = "--ordering=manifest --hiera_config /vagrant/hiera/hiera.yaml"
  end
end
