Vagrant.configure("2") do |config|
    config.ssh.username = "modem"
    config.ssh.password = "modem"
    config.vm.box_download_insecure = true
    config.vm.synced_folder ".", "/vagrant", type: "rsync"

    config.vm.define :uosc, primary: true do |uosc|
      uosc.vm.hostname = :uosc
      uosc.vm.box = "uos-c"
      uosc.vm.box_url = "http://imgs.nextdeploy.io/vbox/uos-c.box"
      uosc.vm.provider :virtualbox do |virthost|
        virthost.customize ["modifyvm", :id, "--natdnsproxy1", "off"]
        virthost.customize ["modifyvm", :id, "--natdnshostresolver1", "off"]
        virthost.customize ["modifyvm", :id, "--nictype1", "virtio"]
        virthost.memory = 1536
        virthost.cpus = 2
      end

      uosc.vm.network :private_network, ip: "%%APIPREFIX%%.70", netmask: "255.255.255.128", nictype: "virtio"
      uosc.vm.network :private_network, ip: "%%PUBPREFIX%%.70", netmask: "255.255.255.128", nictype: "virtio"
      uosc.vm.network :private_network, ip: "%%MANAGEMENTPREFIX%%.70", netmask: "255.255.255.128", nictype: "virtio", virtualbox__intnet: "nd_management"
      uosc.vm.network :private_network, ip: "%%DATAPREFIX%%.70", netmask: "255.255.255.128", nictype: "virtio", virtualbox__intnet: "nd_data"  
    end

   config.vm.define :uosnv, autostart: false do |uosnv|
      uosnv.vm.hostname = :uosnv
      uosnv.vm.box = "uos-s"
      uosnv.vm.box_url = "http://imgs.nextdeploy.io/vbox/uos-s.box"
      uosnv.vm.provider :virtualbox do |virthost|
        virthost.customize ["modifyvm", :id, "--natdnsproxy1", "off"]
        virthost.customize ["modifyvm", :id, "--natdnshostresolver1", "off"]
        virthost.customize ["modifyvm", :id, "--natsettings1", "1400,0,0,0,0"]
        virthost.customize ["modifyvm", :id, "--nicpromisc3", "allow-all"]
        virthost.customize ["modifyvm", :id, "--nictype1", "virtio"]
        virthost.auto_nat_dns_proxy = false
        virthost.memory = 2560
        virthost.cpus = 2
      end

      uosnv.vm.network :private_network, :ip => "%%APIPREFIX%%.75", :netmask => "255.255.255.128", nictype: "virtio"
      uosnv.vm.network :private_network, :ip => "%%PUBPREFIX%%.75", :netmask => "255.255.255.128", nictype: "virtio"
      uosnv.vm.network :private_network, :ip => "%%MANAGEMENTPREFIX%%.75", :netmask => "255.255.255.128", nictype: "virtio", virtualbox__intnet: "nd_management"
      uosnv.vm.network :private_network, :ip => "%%DATAPREFIX%%.75", :netmask => "255.255.255.128", nictype: "virtio", virtualbox__intnet: "nd_data"  
    end

   config.vm.define :uosnt, autostart: false do |uosnt|
      uosnt.vm.hostname = :uosnt
      uosnt.vm.box = "uos-c"
      uosnt.vm.box_url = "http://imgs.nextdeploy.io/vbox/uos-c.box"
      uosnt.vm.provider :virtualbox do |virthost|
        virthost.customize ["modifyvm", :id, "--natdnsproxy1", "off"]
        virthost.customize ["modifyvm", :id, "--natdnshostresolver1", "off"]
        virthost.customize ["modifyvm", :id, "--nicpromisc3", "allow-all"]
        virthost.customize ["modifyvm", :id, "--nictype1", "virtio"]
        virthost.memory = 512
        virthost.cpus = 1
        virthost.auto_nat_dns_proxy = false
      end
      uosnt.vm.network :private_network, :ip => "%%APIPREFIX%%.71", :netmask => "255.255.255.128", nictype: "virtio"
      uosnt.vm.network :private_network, :ip => "%%PUBPREFIX%%.71", :netmask => "255.255.255.128", nictype: "virtio"
      uosnt.vm.network :private_network, :ip => "%%MANAGEMENTPREFIX%%.71", :netmask => "255.255.255.128", nictype: "virtio", virtualbox__intnet: "nd_management"
      uosnt.vm.network :private_network, :ip => "%%DATAPREFIX%%.71", :netmask => "255.255.255.128", nictype: "virtio", virtualbox__intnet: "nd_data"  
    end

   config.vm.define :uosst, autostart: false do |uosst|
      uosst.vm.hostname = :uosst
      uosst.vm.box = "uos-s"
      uosst.vm.box_url = "http://imgs.nextdeploy.io/vbox/uos-s.box"
      uosst.vm.provider :virtualbox do |virthost|
        virthost.customize ["modifyvm", :id, "--natdnsproxy1", "off"]
        virthost.customize ["modifyvm", :id, "--natdnshostresolver1", "off"]
        virthost.customize ["modifyvm", :id, "--nictype1", "virtio"]
        virthost.memory = 512
        virthost.cpus = 1
      end

      uosst.vm.network :private_network, :ip => "%%APIPREFIX%%.72", :netmask => "255.255.255.128", nictype: "virtio"
      uosst.vm.network :private_network, :ip => "%%PUBPREFIX%%.72", :netmask => "255.255.255.128", nictype: "virtio"
      uosst.vm.network :private_network, :ip => "%%MANAGEMENTPREFIX%%.72", :netmask => "255.255.255.128", nictype: "virtio", virtualbox__intnet: "nd_management"
      uosst.vm.network :private_network, :ip => "%%DATAPREFIX%%.72", :netmask => "255.255.255.128", nictype: "virtio", virtualbox__intnet: "nd_data"  
    end

  config.vm.provision :puppet do |puppet|
    puppet.synced_folder_type = "rsync"
    puppet.manifest_file = "init.pp"
    puppet.module_path = "modules"
    puppet.options = "--ordering=manifest --hiera_config /vagrant/hiera/hiera.yaml"
  end
end
