Vagrant.configure("2") do |config|
    config.ssh.username = "modem"
    config.ssh.password = "modem"
    config.vm.box_download_insecure = true

    config.vm.define :mvmc, primary: true do |mvmc|
      mvmc.vm.hostname = "mvmc"
      mvmc.vm.box = "mc"
      mvmc.vm.synced_folder "../../client", "/mvmc", type: 'nfs'
      mvmc.vm.synced_folder "../../ror", "/ror", type: 'nfs'
      mvmc.vm.synced_folder "../../out", "/out", type: 'nfs'
      mvmc.vm.synced_folder "../../puppet", "/puppet", type: 'nfs'
      mvmc.vm.synced_folder "../../ror/hiera", "/hiera", type: 'nfs'
      mvmc.vm.box_url = "http://imgs.mvmc.services-pm.fr:8383/kvm/mc.box"
      mvmc.vm.provider :libvirt do |virthost|
        mvmc.vm.network :private_network, :ip => "192.168.170.60", :libvirt__network_name => "vagrant-os"
        mvmc.vm.network :private_network, :ip => "%%PUBPREFIX%%.60", :libvirt__network_name => "vagrant-ospub%%OSPUBSUF%%"
        mvmc.vm.network :private_network, :ip => "172.16.170.60", :libvirt__network_name => "vagrant-os3"
        mvmc.vm.network :private_network, :ip => "172.16.171.60", :libvirt__network_name => "vagrant-os4"
        virthost.memory = 1536
        virthost.cpus = 2
        virthost.cpu_mode = "host-model"
        virthost.nested = false
        virthost.cpu_mode = "host-passthrough"
        virthost.volume_cache = "writeback"
      end
    end

  config.vm.provision :puppet do |puppet|
    puppet.manifest_file = "init.pp"
    puppet.module_path = "modules"
    puppet.options = "--ordering=manifest --hiera_config /vagrant/hiera/hiera.yaml"
  end
end
