Vagrant.configure("2") do |config|
    config.ssh.username = "modem"
    config.ssh.password = "modem"
    config.vm.box_download_insecure = true
    config.vm.synced_folder ".", "/vagrant", type: "rsync"

    config.vm.define :mvmc, primary: true do |mvmc|
      mvmc.vm.hostname = "mvmc"
      mvmc.vm.box = "mc"
      mvmc.vm.synced_folder "../../client", "/mvmc", type: '%%FILESHARETYPE%%'
      mvmc.vm.synced_folder "../../ror", "/ror", type: '%%FILESHARETYPE%%'
      mvmc.vm.synced_folder "../../out", "/out", type: '%%FILESHARETYPE%%'
      mvmc.vm.synced_folder "../../puppet", "/puppet", type: '%%FILESHARETYPE%%'
      mvmc.vm.synced_folder "../../ror/hiera", "/hiera", type: '%%FILESHARETYPE%%'
      mvmc.vm.box_url = "http://imgs.mvmc.services-pm.fr:8383/vbox/mc.box"
      mvmc.vm.provider :virtualbox do |v|
        v.customize ["modifyvm", :id, "--natdnsproxy1", "off"]
        v.customize ["modifyvm", :id, "--natdnshostresolver1", "off"]
        mvmc.vm.network :private_network, :ip => "192.168.170.60", :netmask => "255.255.255.128"
        mvmc.vm.network :private_network, :ip => "%%PUBPREFIX%%.60", :netmask => "255.255.255.128"
        mvmc.vm.network :private_network, :ip => "172.16.170.60", :netmask => "255.255.255.128"
        mvmc.vm.network :private_network, :ip => "172.16.171.60", :netmask => "255.255.255.128"
        v.memory = 2048
        v.cpus = 2
      end
    end

  config.vm.provision :puppet do |puppet|
    puppet.manifest_file = "init.pp"
    puppet.module_path = "modules"
    puppet.options = "--ordering=manifest --hiera_config /vagrant/hiera/hiera.yaml"
  end
end
