<div class="container-fluid">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <ul class="nav navbar-nav"><li><a href=#"><img src="images/logo.png" border="0" alt="Mvmc" class="img-responsive"/></a></li></ul>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">

          {{#if isAuthenticated}}
            {{#linkTo 'vms.list' tagName='li' href=false}}<a href="">Vms</a>{{/linkTo}}
            {{#linkTo 'projects.list' tagName='li' href=false}}<a href="">Projects</a>{{/linkTo}}

            {{#if isLead}}
              {{#linkTo 'users.list' tagName='li' href=false}}<a href="">Users</a>{{/linkTo}}
            {{/if}}

            {{#if isAdmin}}
              {{#linkTo 'brands.list' tagName='li' href=false}}<a href="">Brands</a>{{/linkTo}}
            {{/if}}

            {{#linkTo 'users.edit' currentUser.id tagName='li' href=false}}<a href="">{{currentUser.email}}</a>{{/linkTo}}
            <li><a href="#" {{action 'logout'}}>Logout</a></li>
          {{else}}
            {{#linkTo 'sessions.new' tagName='li' href=false}}<a href="">Login</a>{{/linkTo}}
          {{/if}}
        </ul>
      </div>
    </div>
  </nav>

  {{outlet}}

<!-- Loading Modal -->
<div class="modal" id="waitingModal" tabindex="-1"  data-backdrop="static" data-keyboard="false" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header text-center">
            <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...
        </div>
      </div>
    </div>
  </div>

<!-- Text Modal -->
<div class="modal" id="textModal" tabindex="-1"  data-backdrop="static" role="dialog" data-keyboard="false" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
      
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">
        
        </div>
      </div>
    </div>
  </div>
</div>