# create NextDeploy Control Center vm, who includes some monitoring and security tools
Vagrant.configure("2") do |config|
    config.ssh.username = "modem"
    config.ssh.password = "modem"
    config.vm.box_download_insecure = true
    config.vm.synced_folder ".", "/vagrant", type: "rsync"

    config.vm.define :ndc2, primary: true do |ndc2|
      ndc2.vm.hostname = "ndc2"
      ndc2.vm.box = "mc"
      ndc2.vm.box_url = "http://imgs.nextdeploy.io/kvm/mc.box"
      ndc2.vm.provider :libvirt do |virthost|
        ndc2.vm.network :private_network, :ip => "%%PUBPREFIX%%.50", :libvirt__network_name => "vagrant-osp%%OSPUBSUF%%"
        virthost.memory = 1536
        virthost.cpus = 2
        virthost.cpu_mode = "host-model"
        virthost.nested = false
        virthost.cpu_mode = "host-passthrough"
        virthost.volume_cache = "writeback"
      end
    end

  config.vm.provision :puppet do |puppet|
    puppet.manifest_file = "init.pp"
    puppet.module_path = "modules"
    puppet.options = "--ordering=manifest --hiera_config /vagrant/hiera/hiera.yaml"
  end
end
