# create NextDeploy Control Center vm, who includes some monitoring and security tools
Vagrant.configure("2") do |config|
    config.ssh.username = "modem"
    config.ssh.password = "modem"
    config.vm.box_download_insecure = true
    config.vm.synced_folder ".", "/vagrant", type: "rsync"

    config.vm.define :ndc2, primary: true do |ndc2|
      ndc2.vm.hostname = :ndc2
      ndc2.vm.box = "mc"
      ndc2.vm.box_url = "http://imgs.nextdeploy.io/vbox/mc.box"
      ndc2.vm.provider :virtualbox do |virthost|
        ndc2.vm.network :private_network, :ip => "%%PUBPREFIX%%.50", :netmask => "255.255.255.128", nictype: "virtio"
        virthost.customize ["modifyvm", :id, "--natdnsproxy1", "off"]
        virthost.customize ["modifyvm", :id, "--natdnshostresolver1", "off"]
        virthost.customize ["modifyvm", :id, "--nictype1", "virtio"]
        virthost.memory = 2048
        virthost.cpus = 2
      end
    end

  config.vm.provision :puppet do |puppet|
    puppet.synced_folder_type = "rsync"
    puppet.manifest_file = "init.pp"
    puppet.module_path = "modules"
    puppet.options = "--ordering=manifest --hiera_config /vagrant/hiera/hiera.yaml"
  end
end
